{% extends 'speak/BASE.html' %}

{% block activeAboutUs %} class="active" {% endblock %}

{% block body %}

    <div class="wrapper row4">
        <main class="container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <div class="content">
                <!-- ################################################################################################ -->
{#                 <img class="imgr borderedbox inspace-5" src="../static/images/demo/imgr.gif" alt="">#}


                {% load static %}
            <img src="{% static 'images/intro.PNG' %}" class="responsive" >




{#                <br>#}
{##}
{#                <h1>TESTING</h1>#}
{#                <img class="imgr borderedbox inspace-5" src="../static/images/demo/imgr.gif" alt="">#}
{#                <p>#}
{#                    -------------------------------------------#}
{#                    -----------------------------------------------#}
{#                    -----------------------------------------------#}
{#                    -----------------------------------------------#}
{#                    -----------------------------------------------#}
{#                    -----------------------------------------------#}
{#                    -----------------------------------------------#}
{#                    -----------------------------------------------#}
{#                </p>#}
{#                <br>#}
{##}
{#                <h1>FEE STRUCTURE</h1>#}
{#                <img class="imgr borderedbox inspace-5" src="../static/images/demo/imgr.gif" alt="">#}
{#                <p>#}
{#                    -------------------------------------------#}
{#                    -----------------------------------------------#}
{#                    -----------------------------------------------#}
{#                    -----------------------------------------------#}
{#                    -----------------------------------------------#}
{#                    -----------------------------------------------#}
{#                    -----------------------------------------------#}
{#                    -----------------------------------------------#}
{#                </p>#}
{#                <br>#}
                </div>
        </main>
    </div>




{% endblock %}