


{% extends 'speak/BASE.html' %}

{% block activeLogin %}class="active" {% endblock %}

{% block body %}

    <div class="wrapper row4">
    <h1 style="text-align: center; padding-top: 3%;">RESET PASSWORD</h1>
        <p style="text-align: center;">Enter New Password.</p>
        <main class="container clear content">
            <form action="{% url 'changepassword' %}" method="post">
                {% csrf_token %}
                <div class="group">
                <label for="password" class="label">New Password</label>
                <input id="password" name="password" type="text" class="input" data-type="text" placeholder="Password">
                    <br>
                <label for="repeat-password" class="label">Re-enter new Password</label>
                <input id="repeat-password" name="repeat-password" type="text" class="input" data-type="text" placeholder="Re-enter Password">
                    <br>
                <input type="submit" class="btn" value="Change Password" onclick="alert('Password was successfully changed!')">
                </div>
                <div class="hr"></div>
            </form>
        </main>
    </div>






{% endblock %}