<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'newpassword' username code %}" method="post">
    {% csrf_token %}
	<div class="group">
    <label for="password" class="label">password</label>
    <input id="password" name="password" type="text" class="input" data-type="text">
    <label for="repeat-password" class="label">repeat-password</label>
    <input id="repeat-password" name="repeat-password" type="text" class="input" data-type="text">
	<input type="submit" class="button" value="renew">
	</div>
	<div class="hr"></div>
</form>

</body>
</html>